.containers{
   
    position: fixed;
    margin: auto;
    overflow: hidden;
    background: white;
  
    z-index: 100;
    border-radius: 5px;
    padding: 20px;
    transition: 1s all ease-out;
}


